.container {
  width: 85%;
  margin: auto;
  padding-top: 15%;
}

.shortner-form {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  border: 2px solid rgb(0, 0, 0);
  border-radius: 8px;
}
input {
  width: 80%;
  padding: 10px 15px;
  font-size: 16px;
}
.shortner-form button {
  width: 20%;
  padding: 0 20px;
  color: white;
  border: none;
  cursor: pointer;
  background-color: rgb(44, 44, 44);
}
.short-url {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
.short-url a {
  color: white;
  background-color: rgba(53, 53, 53, 0.795);
  padding: 15px;
  border-radius: 5px;
  margin-right: 10px;
}

.short-url button {
  padding: 15px;
  border-radius: 15px;
  border: none;
  background-color: rgba(53, 53, 53, 0.795);
  color: white;
  cursor: pointer;
}
table {
  margin-top: 25px;
  border-collapse: collapse;
  color: white;
}
table,
th,
td {
  border: 2px solid rgb(209, 209, 209);
  padding: 8px;
}
