.loading {
  font-size: 25px;
  color: white;
}
.short-url {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}
.short-url a {
  color: white;
  background-color: rgba(53, 53, 53, 0.795);
  padding: 15px;
  border-radius: 5px;
  margin-right: 10px;
}

.short-url button {
  padding: 15px;
  border-radius: 15px;
  border: none;
  background-color: rgba(53, 53, 53, 0.795);
  color: white;
  cursor: pointer;
}
table {
  margin: 25px auto;
  border-collapse: collapse;
  color: white;
}
table,
th,
td {
  border: 2px solid rgb(209, 209, 209);
  padding: 8px;
}
